.contacts {
    padding-top: 29vh;
    display: flex;

    & .block-l {
        max-width: 504px;
        width: 100%;

        & .links {
            & .link {
                font-family: "Druk Cyr";
                text-transform: uppercase;
                font-size: 45px;
                font-weight: 400;
                display: block;
                line-height: 1em;
                margin-bottom: 30px;
                -webkit-text-stroke-width: 0.5px;
                color: transparent;
                letter-spacing: 0.04em;
                -webkit-text-stroke-color: $white;
                transition: all 450ms ease-in-out;
                &:last-child {
                    margin: 0;
                }

                &:hover {
                    color: $white;
                    transition: all 450ms ease-in-out;
                }
            }
        }
    }
    & .block-r {
        width: 100%;
        display: flex;

        & .block-r-l {
            max-width: 376px;
            width: 100%;
        }
        & .header {
            font-size: 35px;
            font-weight: 400;
            margin-bottom: 31px;
            line-height: 1em;
            font-family: "Druk Cyr";

            & br {
                // display: none;
            }
        }

        & .social-tl {
            margin-bottom: 44px;
            & .tl {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 17px;
                line-height: 1.1em;
                display: block;
                text-transform: uppercase;
            }

            & a {
                font-size: 24px;
                font-weight: 300;
                display: block;
                line-height: 1.2em;
                margin-bottom: 3px;
                text-transform: uppercase;
                color: #cdcdcd;
            }

            & .tl-bottom {
                margin-bottom: 10px;
            }
            & .name {
                font-size: 24px;
                font-weight: 300;
                display: block;
                line-height: 1.1em;
                text-transform: uppercase;
                color: #cdcdcd;
            }
        }

        & .social-ph {
            margin-bottom: 65px;
            & a {
                font-size: 24px;
                font-weight: 300;
                display: block;
                line-height: 1.1em;
                margin-bottom: 10px;
                text-transform: uppercase;
            }

            & span {
                font-size: 24px;
                font-weight: 300;
                display: block;
                line-height: 1.1em;
                text-transform: uppercase;
                color: #cdcdcd;
            }
        }
    }
}

@media (max-width: 1023px) {
    .contacts {
        & .block-l {
            max-width: 315px;
            margin-right: 45px;
            & .links {
                & .link {
                    font-size: 35px;
                    margin-bottom: 24px;
                    line-height: 1.2em;
                }
            }
        }
        & .block-r {
            & .header {
                font-size: 30px;
                line-height: 1.2em;
                margin-bottom: 16px;
                & br {
                    display: block;
                }
            }
            & .social-ph {
                & span {
                    padding-top: 6px;
                }
            }
            & .social-tl {
                margin-bottom: 16px;
                & .tl {
                    margin-bottom: 10px;
                }

                & .name {
                    padding-top: 6px;
                }
            }
        }
    }
}
@media (max-width: 900px) {
    .contacts .block-r {
        display: block;
    }
}
@media (max-width: 680px) {
    .contacts {
        & .block-l {
            max-width: 145px;
            margin-right: 38px;
            & .links {
                & .link {
                    font-size: 16px;
                }
            }
        }

        & .block-r {
            & .header {
                font-size: 16px;
                margin-bottom: 12px;
            }

            & .social-tl {
                margin-bottom: 14px;
                & .tl {
                    font-size: 16px;
                    margin-bottom: 8px;
                }

                & a {
                    font-size: 16px;
                }
            }
            & .social-ph {
                margin-bottom: 40px;
                & a {
                    font-size: 16px;
                    margin-bottom: 7px;
                }

                & span {
                    padding-top: 5px;
                    font-size: 16px;
                }
            }
            & .social-tl {
                & .name {
                    padding: 0;
                    font-size: 16px;
                }
            }
        }
    }
}
@media (max-width: 340px) {
    .contacts .block-l {
        margin-right: 15px;
    }
}
