.tracks {
    padding-top: 30em;

    & .track {
        position: relative;
        margin-bottom: 600px;

        &:last-child {
            margin-bottom: 200px;
        }
        & span {
            display: block;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.1em;
            margin-bottom: 11px;
            position: relative;
            z-index: 2;
            text-transform: uppercase;
        }
        & .type {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 10px;
            line-height: 1.5em;
            position: relative;
            z-index: 2;
        }
        & .name {
            font-family: "Druk Cyr";
            font-size: 60px;
            font-weight: 400;
            line-height: 1.2em;
            margin-bottom: 61px;
            text-transform: uppercase;
            position: relative;
            z-index: 2;
        }
        & .music__venuea {
            display: grid;
            max-width: 180px;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 12px;
            padding-top: 11px;
            position: relative;
            z-index: 2;

            & a {
                display: block;
            }
        }
        & .cover {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            transform: translate(-50%, -50%) rotate(-15deg);
            transition: all 300ms ease;
            &._anim-items._active {
                transform: translate(-50%, -50%) rotate(0);
            }
        }

        &:nth-child(2n) {
            & .cover {
                transform: translate(-50%, -50%) rotate(15deg);
                &._anim-items._active {
                    transform: translate(-50%, -50%) rotate(0);
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .tracks {
        & .track {
            & .name {
                font-size: 50px;
                margin-bottom: 72px;
            }
        }
    }
}

@media (max-width: 1020px) {
    .tracks {
        & .track {
            & .cover {
                transform: translate(-50%, -50%) rotate(-15deg);

                &._anim-items._active {
                    transform: translate(-50%, -50%) rotate(0);
                }
            }

            &:nth-child(2n) {
                & .cover {
                    transform: translate(-50%, -50%) rotate(15deg);
                    &._anim-items._active {
                        transform: translate(-50%, -50%) rotate(0);
                    }
                }
            }
        }
    }
}
@media (max-width: 680px) {
    .tracks {
        padding-top: 180px;
        & .track {
            margin-bottom: 120px;
            & .type {
                font-size: 14px;
                margin-bottom: 18px;
            }
            & .name {
                font-size: 30px;
                margin-bottom: 184px;
            }
            & .cover {
                width: 80%;
                top: 0;
                transform: translate(-50%, 0);
            }

            & span {
                font-size: 14px;
                margin-bottom: 12px;
            }
        }
    }
}
