.video {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow-x: hidden;

    & .video__wrapper {
        max-width: 830px;
        width: 100%;
        margin: 162px auto 132px;
        & .swiper {
            overflow: revert;

            & .swiper-button-next,
            & .swiper-button-prev {
                background: url(../../img/arrow79x71.svg) center no-repeat;
                width: 80px;
                height: 70px;
                cursor: none;

                &::after {
                    display: none;
                }

                &:hover {
                    background: url(../../img/arrow79x71hover.svg) center no-repeat;
                }
            }
            & .swiper-button-next {
                right: -200px;
                transform: rotate(180deg);
            }
            & .swiper-button-prev {
                left: -200px;
            }

            & .swiper-slide {
                position: relative;
                opacity: 0.5;
                transition: all 200ms ease-in-out;

                &.swiper-slide-active {
                    opacity: 1;
                }

                .video__iframe {
                    position: relative;
                }

                & img {
                    // cursor: pointer;
                    position: relative;
                    z-index: 2;
                }

                & iframe {
                    position: absolute;
                    width: 100%;
                    z-index: 1;
                }
            }
        }

        & .information {
            margin-top: 30px;
            position: absolute;
            // bottom: -100px;

            & .title {
                font-family: "Druk Cyr";
                font-size: 50px;
                font-weight: 400;
                line-height: 1.2em;
                text-transform: uppercase;
                margin-bottom: 12px;
            }
            & .year {
                font-family: "Druk Cyr";
                font-size: 50px;
                font-weight: 400;
                line-height: 1.2em;
                -webkit-text-stroke-width: 0.5px;
                color: transparent;
                -webkit-text-stroke-color: $white;
            }
        }

        & .mobile__video {
            display: none;
            & .item {
                // cursor: pointer;
            }
        }
    }
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0 !important;
}
@media (max-width: 1440px) {
    .video .video__wrapper {
        margin: 100px auto 132px;
        max-width: 578px;
        width: 100%;
    }
    .video .video__wrapper .swiper .swiper-slide img {
        width: 100%;
    }
}
@media (max-width: 1250px) {
    .video {
        & .video__wrapper {
            & .swiper {
                & .swiper-button-next {
                    right: -100px;
                }
                & .swiper-button-prev {
                    left: -100px;
                }
            }
        }
    }
}
@media (max-width: 1023px) {
    .video {
        overflow: revert;
        align-items: flex-start;
        & .video__wrapper {
            & .swiper {
                display: none !important;
            }
            & .mobile__video {
                display: block;
                & .item {
                    & img {
                        width: 100%;
                    }
                }
            }
            & .information {
                position: relative;
                & .title {
                    margin-bottom: 6px;
                    font-size: 30px;
                }
                & .year {
                    font-size: 30px;
                    margin-bottom: 103px;
                }
            }
        }
    }
}
@media (max-width: 680px) {
    .video {
        & .video__wrapper {
            & .information {
                margin-top: 22px;

                & .title {
                    font-size: 20px;
                }
                & .year {
                    margin-bottom: 44px;
                    font-size: 20px;
                }
            }
        }
    }
}
