.header__wrapper {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;

    & .blur {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        filter: blur(10px);

        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }

    & .header {
        padding-top: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;

        & .logo {
            position: relative;
            z-index: 2;
        }
        & .right_header {
            display: flex;
            align-items: center;
            padding-top: 22px;
            & .social {
                display: flex;
                align-items: center;
                & .link {
                    outline: 0;
                    line-height: 40px;
                    text-align: center;
                    display: inline-block;
                    text-decoration: none;
                    text-transform: uppercase;
                    position: relative;
                    font-size: 13px;
                    padding: 0 3px;
                    font-weight: 300;

                    &:hover {
                        &:after {
                            opacity: 1;
                            transform: translateY(0) rotateX(0);
                        }

                        &:before {
                            opacity: 0;
                            transform: translateY(-50%) rotateX(90deg);
                        }
                    }

                    &:after {
                        top: 0;
                        left: 0;
                        opacity: 0;
                        width: 100%;
                        display: block;
                        transition: $speed;
                        position: absolute;
                        content: attr(data-back);
                        transform: translateY(50%) rotateX(90deg);
                        font-weight: 600;
                    }

                    &:before {
                        top: 0;
                        left: 0;
                        opacity: 1;
                        display: block;
                        line-height: 40px;
                        transition: $speed;
                        position: relative;
                        content: attr(data-front);
                        transform: translateY(0) rotateX(0);
                    }
                }

                & span {
                    display: block;
                    width: 50px;
                    height: 1px;
                    background: $white;
                    margin: 0 20px;
                    opacity: 0.3;
                }
            }
            & .nav_bar {
                width: 50px;
                height: 30px;
                display: flex;
                align-items: center;
                position: relative;
                margin-left: 70px;
                // cursor: pointer;

                & span {
                    width: 100%;
                    height: 1px;
                    background: $white;
                    &::after,
                    &::before {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: $white;
                        position: absolute;
                    }
                    &::after {
                        top: 0;
                        transform: none;
                    }
                    &::before {
                        bottom: 0;
                        transform: none;
                    }
                }

                &.open {
                    & span {
                        background: none;
                        animation-name: openMenuM;
                        animation-duration: 4s;

                        &::after {
                            top: 50%;
                            transform: translateY(-50%) rotate(45deg);
                            animation-name: openMenu;
                            animation-duration: 4s;
                        }

                        &::before {
                            bottom: 50%;
                            transform: translateY(-50%) rotate(134deg);
                            animation-name: openMenuB;
                            animation-duration: 4s;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 680px) {
    .header__wrapper {
        & .header {
            padding-top: 0px;
            & .logo {
                & img {
                    height: 71px;
                }
            }

            & .right_header {
                & .nav_bar {
                    width: 50px;
                    height: 22px;
                    & span {
                        height: 2px;

                        &::after,
                        &::before {
                            height: 2px;
                        }
                    }
                }

                & .social {
                    right: -195px;
                    & .link {
                        font-size: 12px;
                        padding: 0px;

                        &::after {
                            font-weight: 300;
                        }
                    }

                    & span {
                        width: 30px !important;
                        margin: 0 10px !important;
                    }
                }
            }
        }
    }
}

@keyframes openMenuM {
    0% {
        background: $white;
    }
    5% {
        background: none;
    }
    20% {
        background: none;
    }
}

@-webkit-keyframes openMenuM {
    0% {
        background: $white;
    }
    5% {
        background: none;
    }
    20% {
        background: none;
    }
}
@-moz-keyframes openMenuM {
    0% {
        background: $white;
    }
    5% {
        background: none;
    }
    20% {
        background: none;
    }
}
@-o-keyframes openMenuM {
    0% {
        background: $white;
    }
    5% {
        background: none;
    }
    20% {
        background: none;
    }
}
@keyframes openMenuM {
    0% {
        background: $white;
    }
    5% {
        background: none;
    }
    20% {
        background: none;
    }
}

@keyframes openMenu {
    0% {
        top: 0;
        transform: none;
    }
    10% {
        top: 50%;
        transform: translateY(-50%);
    }
    20% {
        transform: translateY(-50%) rotate(45deg);
    }
}

@-webkit-keyframes openMenu {
    0% {
        top: 0;
        transform: none;
    }
    10% {
        top: 50%;
        transform: translateY(-50%);
    }
    20% {
        transform: translateY(-50%) rotate(45deg);
    }
}
@-moz-keyframes openMenu {
    0% {
        top: 0;
        transform: none;
    }
    10% {
        top: 50%;
        transform: translateY(-50%);
    }
    20% {
        transform: translateY(-50%) rotate(45deg);
    }
}
@-o-keyframes openMenu {
    0% {
        top: 0;
        transform: none;
    }
    10% {
        top: 50%;
        transform: translateY(-50%);
    }
    20% {
        transform: translateY(-50%) rotate(45deg);
    }
}
@keyframes openMenu {
    0% {
        top: 0;
        transform: none;
    }
    10% {
        top: 50%;
        transform: translateY(-50%);
    }
    20% {
        transform: translateY(-50%) rotate(45deg);
    }
}

@keyframes openMenuB {
    0% {
        bottom: 0;
        transform: none;
    }
    10% {
        bottom: 50%;
        transform: translateY(-50%);
    }
    20% {
        transform: translateY(-50%) rotate(134deg);
    }
}

@-webkit-keyframes openMenuB {
    0% {
        bottom: 0;
        transform: none;
    }
    10% {
        bottom: 50%;
        transform: translateY(-50%);
    }
    20% {
        transform: translateY(-50%) rotate(134deg);
    }
}
@-moz-keyframes openMenuB {
    0% {
        bottom: 0;
        transform: none;
    }
    10% {
        bottom: 50%;
        transform: translateY(-50%);
    }
    20% {
        transform: translateY(-50%) rotate(134deg);
    }
}
@-o-keyframes openMenuB {
    0% {
        bottom: 0;
        transform: none;
    }
    10% {
        bottom: 50%;
        transform: translateY(-50%);
    }
    20% {
        transform: translateY(-50%) rotate(134deg);
    }
}
@keyframes openMenuB {
    0% {
        bottom: 0;
        transform: none;
    }
    10% {
        bottom: 50%;
        transform: translateY(-50%);
    }
    20% {
        transform: translateY(-50%) rotate(134deg);
    }
}
@media (max-width: 1023px) {
    .header__wrapper {
        & .header {
            padding-top: 15px;
            & .logo {
                & img {
                    height: 106px;
                }
            }
            & .right_header {
                & .nav_bar {
                    width: 72px;
                }
            }
        }
    }
}
