$yellow: #f0d701;
$white: #ffffff;
$bg: #000000;
$grey: #cdcdcd;
$speed: 0.5s;

body {
    background: $bg;
    color: $white;
    font-size: 12px;
    line-height: 1.1em;
    font-family: "Poppins", sans-serif;
}

#root {
    // overflow-x: hidden;
}

a {
    color: $white;
}

button {
    outline: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.container__wrapper {
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper_preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    & .preloader {
        max-height: 500px;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray;
        transition: all 850ms ease-in-out;

        &.active {
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            -ms-filter: grayscale(0%);
            -o-filter: grayscale(0%);
            filter: grayscale(0%);
            filter: transparent;
            transition: all 850ms ease-in-out;
        }
    }
}


@media (max-width: 1023px) {
    .container__wrapper {
        padding: 0 39px;
    }
}


@media (max-width: 680px) {
    .container__wrapper {
        padding: 0 15px;
    }
}